.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tab {
  font-size: 1rem;
  padding: 6px 14px;
  background-color: var(--secondary-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--accent-white);
  border-radius: 12px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  &:hover {
    background-color: var(--primary-color);
  }
}

.active {
  background-color: var(--primary-color);
}

@media (min-width: 768px) {
  .tabs {
    gap: 16px;
  }
  .tab {
    padding: 10px 20px;
  }
}
