.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.tab {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--accent-white);
  border-radius: 12px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.active {
  background-color: var(--primary-color);
}
