.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 36px;
}
.intro {
  font-size: 1.1rem;
  line-height: 1.6;
}
.cover {
  width: 100%;
  max-width: 240px;
  order: -1;
  margin: 0 auto;
  &__wrap {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    padding-bottom: 100%;
  }
  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: 1fr clamp(10px, 33%, 340px);
  }
  .cover {
    max-width: 340px;
    order: unset;
  }
}
