.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.albums {
  &__main {
    //display: grid;
    //grid-template-columns: repeat(2, 1fr);
    //gap: 16px 12px;
    position: relative;
    //margin-top: 22px;
    //@include md {
    //  grid-template-columns: repeat(3, 1fr);
    //  gap: 58px 36px;
    //}
  }
  &__mainBg {
    position: absolute;
    inset: 0;
    border-radius: 24px;
    background: rgba(2, 10, 29, 0.25);
    backdrop-filter: blur(5px);
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 12px 36px;
    background-color: #1c294375;
    border-radius: 16px;
    color: var(--color-text);
    hyphens: auto;
    &__cover {
      width: 100%;
      overflow: hidden;
      border-radius: 12px;
      position: relative;
      padding-bottom: 75%;
    }
    &__image {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__title {
      font-family: 'DM Sans', sans-serif;
      font-size: 24px;
      margin-top: 24px;
    }
    &__caption {
      font-size: 14px;
      margin-top: 12px;
    }
    &__description {
      font-size: 1rem;
      margin-block: 12px 24px;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__btn {
      margin-top: auto;
      //@include md {
      //  margin-top: 40px;
      //}
    }
  }
}
