.header {
  display: flex;
  position: relative;
  z-index: 9999;
  transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  overflow: hidden;
  &__content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: fit-content;
    margin: 0 auto;
    padding: 12px 12px 0;
    color: var(--color-heading);
    position: relative;
    transition: color 0.3s ease-in-out;
    //@include sm {
    //  padding: 24px 24px 0;
    //}
    &:first-child::before,
    &:first-child::after {
      content: '';
      display: block;
      width: 20px;
      height: 1.5px;
      background-color: var(--color-border);
      position: absolute;
      bottom: 0;
      transition: background-color 0.3s ease-in-out;
      //@include sm {
      //  width: 24px;
      //}
    }
    &:first-child::before {
      left: -8px;
      //@include sm {
      //  left: 0;
      //}
    }
    &:first-child::after {
      right: -8px;
      //@include sm {
      //  right: 0;
      //}
    }
  }
  &__content-item {
    padding: 8px 12px 8px;
    border-bottom: 1.5px solid var(--color-border);
    transition: border-color 0.3s ease-in-out;
    align-content: center;
    text-align: center;
    //@include sm {
    //  padding: 12px 24px 12px;
    //}
    &:has(a.router-link-active.router-link-exact-active) {
      border: 1.5px solid var(--color-border);
      border-bottom-color: transparent;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}
