.navbar {
  display: none;
  position: relative;
  overflow: hidden;
  &__content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: fit-content;
    margin: 0 auto;
    padding: 12px 12px 0;
    color: var(--primary-color);
    position: relative;
    transition: color 0.3s ease-in-out;
    //@include sm {
    //  padding: 24px 24px 0;
    //}
    &:first-child::before,
    &:first-child::after {
      content: '';
      display: block;
      width: 20px;
      height: 1.5px;
      background-color: var(--primary-color);
      position: absolute;
      bottom: 0;
      transition: background-color 0.3s ease-in-out;
      //@include sm {
      //  width: 24px;
      //}
    }
    &:first-child::before {
      left: -8px;
      //@include sm {
      //  left: 0;
      //}
    }
    &:first-child::after {
      right: -8px;
      //@include sm {
      //  right: 0;
      //}
    }
  }
  &__content__item {
    padding: 8px 12px 8px;
    border-bottom: 1.5px solid var(--primary-color);
    transition: border-color 0.2s ease-in-out;
    align-content: center;
    text-align: center;
    //@include sm {
    //  padding: 12px 24px 12px;
    //}
    &:has(.navLink.active) {
      border: 1.5px solid var(--primary-color);
      border-bottom-color: transparent;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
  }
}
