.footer {
  position: relative;
  display: flex;
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding: 36px 0 48px;
    &__caption {
       display: flex;
       align-items: center;
       gap: 8px;
       color: var(--primary-color);
        &__coffee {
           width: 25px;
           height: 25px;
           transform: translateY(-2px);
         }
        &__heart {
           width: 20px;
           height: 20px;
         }
    }
    &__content {
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 24px;
     }
    &__links {
       display: flex;
       align-items: center;
       gap: 24px;
     }
    &__link {
       display: flex;
       width: 20px;
       height: 20px;
      svg {
        transition: filter 0.3s ease-in-out;
        fill: var(--primary-color);
        will-change: filter;
      }
      &:hover svg {
        filter: brightness(0.6) saturate(1.4);
      }
    }
}

/*color: var(--text-color);*/
/*color: var(--primary-color);*/
