.album {
  position: relative;
  //&__main {
    //display: grid;
    //grid-template-columns: repeat(2, 1fr);
    //gap: 2rem 1rem;
    //position: relative;
    //margin-top: 22px;
    //@include md {
    //  grid-template-columns: repeat(3, 1fr);
    //  gap: 3rem 2rem;
    //}
  //}
  &__mainBg {
    position: absolute;
    inset: 0;
    border-radius: 24px;
    background: rgba(2, 10, 29, 0.25);
    backdrop-filter: blur(5px);
  }
  &__item {
    position: relative;
    background-color: #1c294375;
    aspect-ratio: 1 / 1;
    //padding: 4px;
    //border-radius: 8px;
    //@include md {
      padding: 12px 12px 36px;
      border-radius: 16px;
    //}
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 6px;
      //@include md {
      //  border-radius: 12px;
      //}
    }
  }
}
