.themeSwitcher {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 1.2rem;
  border: 1px solid var(--primary-color);
  /*background: var(--button-bg);*/
  color: var(--button-text);
  cursor: pointer;
}
