.themeSwitcher {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 0.8rem;
  border: 1px solid var(--toggle-theme-boder);
  color: var(--button-text);
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  &:hover {
    background-color: unset;
   }
}

@media (min-width: 768px) {
  .themeSwitcher {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  .themeSwitcher:hover {
    animation: rotate 2s linear infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(0deg);
  }
}
