.menuMobile {
  position: fixed;
  inset: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  &__nav {
    backdrop-filter: blur(5px);
    padding: 22px 48px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.open {
    opacity: 1;
    transition-delay: 0s;
    .menuMobile__nav {
      opacity: 1;
      transition-delay: 0.4s;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__list__item {
    padding: 8px 12px 8px;
    color: var(--primary-color);
    text-align: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1.5px;
      background-color: var(--primary-color);
      transform-origin: center;
      transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;
    }
    a {
      display: inline-block;
      will-change: transform;
      transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
      transform-origin: center;
      -webkit-font-smoothing: antialiased;
    }
    &:has(.navLink.active) {
      a {
        color: var(--secondary-color);
        transform: scale3d(1.15, 1.15, 1.15);
      }
      &::after {
        background-color: var(--secondary-color);
        transform: scaleY(1.5);
      }
    }
  }
}
