.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.cover {
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
  order: -1;
  &__wrap {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    padding-bottom: 100%;
  }
  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.albums {
  margin-top: 36px;
  position: relative;
  &__main {
    //display: grid;
    //grid-template-columns: repeat(2, 1fr);
    //gap: 16px 12px;
    position: relative;
    //margin-top: 22px;
    //@include md {
    //  grid-template-columns: repeat(3, 1fr);
    //  gap: 58px 36px;
    //}
  }
  &__mainBg {
    position: absolute;
    inset: 0;
    border-radius: 24px;
    background: rgba(2, 10, 29, 0.25);
    backdrop-filter: blur(5px);
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 12px 36px;
    background-color: #1c294375;
    border-radius: 16px;
    color: var(--color-text);
    hyphens: auto;
    &__cover {
      width: 100%;
      overflow: hidden;
      border-radius: 12px;
      position: relative;
      padding-bottom: 75%;
    }
    &__image {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__previews {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      gap: 6px 4px;
      margin-top: 12px;
      //@include md {
      //  gap: 12px 8px;
      //}
      img {
        border-radius: 4px;
      }
    }
    &__preview {
      position: relative;
      width: 100%;
      padding-bottom: 75%;
      border-radius: 4px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        inset: 0;
      }
    }
    &__title {
      font-family: 'DM Sans', sans-serif;
      font-size: 1.5rem;
      margin-top: 24px;
    }
    &__caption {
      font-size: 0.8rem;
    }
    &__description {
      font-size: 1rem;
      margin-block: 0.85rem 2.2rem;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__btn {
      margin-top: auto;
    }
  }
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: 1fr clamp(10px, 33%, 340px);
  }
  .cover {
    order: unset;
    max-width: 340px;
  }
  .albums {
    &__item {
      padding: 1rem 1rem 2.4rem;
      &__caption {
        font-size: 1rem;
        margin-top: 0.5rem;
      }
      &__description {
        margin-block: 1rem 2.4rem;
      }
    }
  }
}
